<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <header>
        <h1>Apple Ceo's</h1>
        <a href="/">Home</a>
        <a href="/ceos">CEO's</a>
    </header>
    <div class="search">
        <form action="/ceos" method="post">
            <input type="text" name="name" placeholder="Enter CEO's name">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="body-container">